@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap'); 
/* logo font */


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #FFFFFF;
  background-color:#2C2C2C;
}


.inputbox{
  
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

