.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #FFFFFF;
  background-color:#2C2C2C;
}

.inputbox{
  
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LeftText {
  align-items: left;
  justify-content: left;
  margin-left:-230px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
